<ion-header>
  <ion-toolbar align="center">
    <ion-title>
      SMCA - Home
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
<br><br>
<div align="center"><strong>Sistema para el monitoreo y control de aforo DICI</strong></div>
<br><br>
   <div align="center">
    <p>normas</p>
    <p>normas</p>
    <p>normas</p>
    <p>normas</p>
  </div>
  <br>
  <div align ="center">
  <ion-button color="success" [routerLink]="['/login']" block>Ingresar</ion-button>
    <ion-button color="warning" [routerLink]="['/register']" block>Registrarse</ion-button>
  </div>
</ion-content>
 <!--<ion-header collapse="condense">
    <ion-toolbar>
      <ion-title size="large">Blank</ion-title>
    </ion-toolbar>
  </ion-header>-->
