<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>
      Blank
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-header collapse="condense">
    <ion-toolbar>
      <ion-title size="large">Blank</ion-title>
    </ion-toolbar>
  </ion-header>

  <div id="container">
    <strong>Página principal</strong>
    <p>normas</p>
    <p>normas</p>
    <p>normas</p>
    <p>normas</p>
    <ion-button color="success" [routerLink]="['/login']" block>Ingresar</ion-button>
<ion-button color="warning" [routerLink]="['/register']" block>Registrarse</ion-button>
  </div>
</ion-content>
